<div class="timeline-container">
  <div *ngFor="let hour of hours" class="hour-slot">
    <div class="hour-label">{{ hour }}:00</div>

<!--    <div class="appointment" *ngIf="getAppointmentForHour(hour) as appointment"-->
<!--         [style.height.px]="(appointment.endTime - appointment.startTime) * 60">-->
<!--      <strong>{{ appointment.description }}</strong>-->
<!--      <span>({{ appointment.startTime }}:00 - {{ appointment.endTime }}:00)</span>-->
<!--    </div>-->
  </div>
</div>
<div class="example-box" cdkDrag>
  Drag me around
</div>
