<div class="timeline-container">
  <div *ngFor="let hour of hours" class="hour-slot">
    <div class="hour-label">{{ hour }}:00</div>
  </div>
  <div *ngFor="let rect of getFilteredAppointments()"
       class="draggable-rectangle"
       cdkDrag
       (contextmenu)="onRightClick($event, rect)"
       (cdkDragEnded)="cdkDragEnded($event, rect)"
       [ngStyle]="{ 'top': rect.top + 'px',
       'left': rect.left + 'px',
       'height': minutesDifference(rect.startTime, rect.endTime) + 'px'}">
    {{rect.title}}
  </div>
  <div *ngIf="showContextMenu"
       [style.left.px]="contextMenuPosition.x"
       [style.top.px]="contextMenuPosition.y"
       class="context-menu">
    <ul>
      <li (click)="deleteItem()">Delete Item</li>
    </ul>
  </div>
</div>
