/* src/app/timeline/timeline.component.css */

.timeline-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  margin: auto;
  position: relative;
}

.hour-slot {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding: 0 5px;
  height: 60px;
}

.hour-label {
  width: 50px;
  font-weight: bold;
}

.appointment {
  flex: 1;
  background-color: #90caf9;
  color: #030303bf;
  padding: 5px;
  margin-left: 10px;
  border-radius: 4px;
  position: absolute;
  border-color: #3f51b5;
  border-width: 2px;
  border-style: solid;
  top: 0;
  left: 50px;
}
section {
  display: table;
}

.draggable-rectangle {
  position: absolute;   /* Absolute position inside the container */
  width: 92%;
  background-color: #4caf50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;         /* Make it look draggable */
}
.context-menu {
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.context-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.context-menu li {
  padding: 10px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #f0f0f0;
}
